# MacOS
.DS_Store

# Node
node_modules
yarn.lock

# hardhat
artifacts
cache_hardhat
.openzeppelin
deployments
scripts/deployment-local.json
scripts/metadata-local.json
scripts/*.zip

# Foundry
cache
out
broadcast

# Artifacts
bindings

# Secrets
.env

# Python
__pycache__
venv
